header.jumbotron {
    width: 100%;
    margin-top: 60px;
    padding: 100px 0;
    position: relative;
    background-image: url(../img/header-bg.jpg);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

header.jumbotron h2 {
    margin-bottom: 30px;
}

header.jumbotron p {
    font-size: 16px;
}

header.jumbotron:after {
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: block;
    position: absolute;
    background-color: rgba(0, 0, 0, .5);
    z-index: 1;
}

header.jumbotron>.container {
    position: relative;
    z-index: 5;
}

.icon {
    margin: 30px auto;
    transition: all .3s ease;
    -moz-transition: all .3s ease;
    -webkit-transition: all .3s ease;
}

.icon:hover {
    color: #0AB9BE;
}

footer.footer {
    margin-top: 80px;
}

.footer-list {
    list-style: none;
    padding: 0;
    margin: 0;
}
